.dash-header {
  width: var(--full);
  padding-left: 16px;
  padding-right: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 89px;
  border-bottom: 1px solid var(--text-input);

  @media (max-width: 1271px) {
    padding: 0 16px;
  }

  @media (max-width: 900px) {
    flex-direction: column;
    height: auto;
    padding: 16px;
    align-items: stretch;
  }

  .header-alert {
    width: 434px;
    max-width: var(--full);
    padding: 10px 16px;
    min-height: 40px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--deep-gold);
    border-radius: 50px;

    > p {
      color: var(--white);
      font-size: 14px;
    }

    @media (max-width: 900px) {
      margin-bottom: 16px;
    }
  }

  .header-end {
    display: flex;
    align-items: center;
    height: var(--full);

    .header-profile {
      display: flex;
      align-items: center;
      height: var(--full);

      .profile-img {
        height: var(--full);
        display: flex;
        align-items: center;

        // img {
        //   object-fit: cover;
        // }
      }

      .dropdown-wrapper {
        width: fit-content;
        margin-left: 15px;
        position: relative;

        button {
          width: var(--full);
          padding: 10px 0;
          background: transparent;
          border: 0;
          display: flex;
          align-items: center;

          span {
            font-size: 16px;
            color: var(--deep-blue);
            margin-right: 6px;
          }

          svg {
            width: 10px;
            height: 7px;
            flex-shrink: 0;
          }
        }
      }
    }
  }
}
