:root {
  --primary-gold: #ffd873;
  --primary-green: #10c06d;
  --deep-blue: #152144;
  --text-primary: #002058;
  --grey: #b3b3b3;
  --text-dark: #041942;
  --text-input: #b2b7bc;
  --deep-gold: #f9a825;
  --fade: #f5f5f5;
  --white: #fff;
  --fade-border: #e3e6ea;
  --main-bg: #e5e5e5;
  --full: 100%;
  --radius: 2px;
  --nav-width: 294px;
  --wrapper-max-width: 1680px;
  --wrapper-min-width: 240px;
}
