.ellipse {
  position: absolute;
  right: 0;
  top: 14px;
  width: fit-content;
  height: var(--full);
  z-index: 10;
  opacity: 0.8;

  > svg {
    width: 137px;
    height: 137px;

    &:nth-of-type(2) {
      position: absolute;
      left: -25px;
      bottom: 0;
      width: 100px;
      height: 100px;
    }
  }
}
